@charset "UTF-8";
@media screen and (min-width: 768.1px){
body {
    background-color:  #E7F6FE;
    height: 150vh;
}
.content-box {
    margin-left: -15vw;
}
.mascot {
    margin-top: -20vh;
    margin-left: 80vw;
}


}
